testdata/wsdl1-soap11-filter-message-parts/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PetService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="urn:com:example:petstore"
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="urn:com:example:petstore">

    <documentation>
        This is a sample WSDL 1.1 document describing the pet service.
        It has SOAP 1.1 bindings.
    </documentation>

    <!-- Abstract type -->
    <types>
        <xsd:schema targetNamespace="urn:com:example:petstore">
            <xsd:complexType name="petType">
                <xsd:all>
                    <xsd:element name="id" type="xsd:int"/>
                    <xsd:element name="name" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:element name="getPetByIdRequest">
                <!-- define request using anonymous type, rather than referring to a named type -->
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element name="id" type="xsd:int"/>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getPetByIdResponse" type="tns:petType"/>
            <xsd:element name="fault" type="xsd:string"/>
        </xsd:schema>
    </types>

    <message name="getPetByIdRequest">
        <part type="xs:string" name="header"/>
        <part element="tns:getPetByIdRequest" name="body"/>
    </message>
    <message name="getPetByIdResponse">
        <part element="tns:getPetByIdResponse" name="body"/>
    </message>

    <!-- Abstract port types -->
    <portType name="PetPortType">
        <operation name="getPetById">
            <input message="tns:getPetByIdRequest" name="getPetByIdRequest"/>
            <output message="tns:getPetByIdResponse" name="getPetByIdResponse"/>
        </operation>
    </portType>

    <!-- Concrete Binding Over HTTP -->
    <binding name="HttpBinding" type="tns:PetPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="getPetById">
            <soap:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <!-- specify the part(s) to use from the message -->
                <soap:header message="getPetByIdRequest" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Concrete Binding with SOAP-->
    <binding name="SoapBinding" type="tns:PetPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/soap"/>

        <operation name="getPetById">
            <soap:operation soapAction="getPetById" style="document"/>
            <input name="getPetByIdRequest">
                <!-- specify the part(s) to use from the message -->
                <soap:header message="getPetByIdRequest" part="header" use="literal"/>
                <soap:body parts="body" use="literal"/>
            </input>
            <output name="getPetByIdResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Web Service offering endpoints for both bindings-->
    <service name="PetService">
        <port name="HttpEndpoint" binding="tns:HttpBinding">
            <soap:address location="http://www.example.com/http/"/>
        </port>
        <port name="SoapEndpoint" binding="tns:SoapBinding">
            <soap:address location="http://www.example.com/soap/"/>
        </port>
    </service>
</definitions>
